div.map {
	height: 100%;
}

#content_panel {
	float:left;
	width: 250px;
	height: 100%;
	border-right: 6px solid #FFC34B;
	display: none;
}

div.top-message {
	position: fixed;
	left: calc(50% - 100px);
	top: 60px;
	padding-right: 15px;
	padding-left: 15px;
	text-align: center;
	font-size: 14px;
	display:none;
	opacity: 0.6;
}

#infoPanelTop {
	text-align: right;
	padding: 0px 10px 10px 10px;
}

.box, .top-message {
	box-shadow: 0 3px 14px rgba(0,0,0,0.4);
	background: #FFF;
	color: #000;
	padding: 6px;
	/*background: #444;
	color: #FFF;*/
    border-radius: 2px;
}

span.fa {
	line-height: 26px;
}

ol.marker-list {
	height: calc(100% - 70px);
	bottom:0;
	overflow-x:auto;
	margin:0;
}

ol.marker-list li {
	padding:2px;
	margin:0;
}

ol.marker-list li:hover {
	cursor: hand;
	color: #0055FF;
}

#SelectList {
	height: 25px;
	width: 90%;
}

div.leaflet-popup-content-wrapper {
	border-radius: 5px;
	text-align: left;
}

#popup-title {
	font-size: 16px;
	font-weight: bolder;
	color: #008C00;
}
