div.map {
	width: 100%;
	height: 100%;
}

#topMessageBox {
	width: 200px;
	height: 30px;
	position: absolute;
	left: calc(50% - 100px);
	top: 110px;
	text-align: center;
	padding-top: 6px;
	box-sizing: border-box;
	display:none;
	color: #E5E5E5;
}

#infoPanel {
	width: 244px;
	height: calc(100% - 170px);
	position: absolute;
	left: 46px;
	top: 110px;
	text-align: left;
	padding-top: 6px;
	box-sizing: border-box;
}

#infoPanelTop {
	text-align: right;
	padding: 0px 10px 10px 10px;
}

#infoPanelTop a {
	color: #FFFFFF;
}

#infoPanelMiddle {
	left: 0;
	right: 0;
	top: 70;
	bottom: 0;
	color: #FFFFFF;
	position: absolute;
	overflow: auto;
}

.box {
	box-shadow: 2px 2px 0px #949494;
	background: #444;
    opacity: 0.9;
    border-radius: 4px;
}

span.fa {
	line-height: 26px;
}

ol.marker-list {
	bottom:0;
	overflow-x:auto;
	margin:0;
}
  
ol.marker-list li {
	padding:2px;
	margin:0;
}
  
ol.marker-list li:hover {
	color: #66B4FF;
}

#SelectList {
	height: 25px;
	width: 90%;
}

div.leaflet-popup-content-wrapper {
	border-radius: 5px;
	text-align: left;
}

