body{
    background-color: f0f0f0;
    display: initial;
   }

div#block {
	width:100%;
	height:100%;
	min-width:700px;
	margin:0 auto;
}

div.header {
	width:100%;
	height:40px;
	line-height:10px;
	display:inline-block;
	background-color:#FFC34B;
	border-bottom: 0px;
}

div.menu {
	width:100%;
	height:52px;
	border-top: 2px solid #114477;
	border-bottom: 6px solid #FFC34B;
}

div.body {
	width:100%;
	height:calc(100% - 150px);
	min-height:500px;
	padding-left:0px;
	display:inline-block;
	background: #FFFFFF;
	overflow: auto;
}

div.footer {
	width:100%;
	height:44px;
	line-height:10px;
	background-color:#489CF3;
	clear:both;
	display:inline-block;
	text-align:center;
	border-top: 6px solid #FFC34B;
}


/* Main menu */
ul.horizontal_menu {
	margin-bottom:0px;
	margin-top:0px;
	list-style: none;
	padding: 16px 14px 18px 14px;
	background: #489CF3
}

ul.horizontal_menu li {
	display: inline;
	padding: 0px 2px;
}

ul.horizontal_menu li a {
	color: #1A1A1A;
	text-decoration: none;
	background: #CCE6FF;
	margin: 0;
	padding: 10px 14px 10px 14px;
	border-radius: 4px 4px;
	box-shadow: 4px 4px 3px rgba(0,0,0,0.6);
}

ul.horizontal_menu li a:hover {
	color: #005900;
	background: radial-gradient(#FFFFFF, #CCE6FF);
	margin: 0;
	padding: 10px 14px 10px 14px;
}

ul.horizontal_menu li a.selected {
	color: #FFFFFF;
	background: #287BCC;
	box-shadow: 3px 3px 2px rgba(0,0,0,0.6);
}


/* Content */
h1 {
	height: 30px;
	color: #009900;
	text-shadow: 1px 1px 2px black;
}

h3 {
	padding:0px 20px;
}

p {
	padding:0px 40px;
}

pre {
	font-size: 11pt;
}

.shadowtext {
	text-shadow: 2px 2px 4px black;
}


/* Links */
a {
	color: #202D6B;
    text-decoration: none;
}

a:hover {
    color: #800000;
    text-decoration: underline;
}


/* Tables */
table {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    box-shadow: 8px 8px 6px rgba(122,122,122,0.5);
    background: #FFFDF0;
   }
th {
	text-align:center;
	padding: 4px;
	border: 1px solid #4D4D4D;
}
td {
	text-align:left;
	padding: 4px;
	border: 1px solid #4D4D4D;
}
thead {
	background: #AED982;
	color: #333333;
}
tbody {
	/*font-size: 11pt; */
}
tfoot {
	background: #AED982;
}
tr.highlight:hover {
	background: #FFC34B;
	color: #1A1A1A;
}
td.warning {
	background: #FF8080;
}
