body{
	background-color: #f0f0f0;
	margin:0px;
	font-family: Times New Roman, arial, serif;
}

div#block {
	width:100%;
	height:100%;
	min-width:640px;
	margin:0 auto;
}

div.menu {
	width:100%;
	height:50px;
	border-bottom: 6px solid #FFC34B;
}

div.body {
	position: fixed;
	width:100%;
	height:calc(100% - 56px);
	padding-left:0px;
	display:inline-block;
	background: #FFFFFF;
	overflow: auto;
}

/* Main menu */
ul.horizontal_menu {
	margin-bottom:0px;
	margin-top:0px;
	list-style: none;
	font-size: 0;
	padding: 16px 14px 16px 14px;
	background: #489CF3
}

ul.horizontal_menu li {
	display: inline;
	font-size: 12pt;
	padding: 0px;
}

ul.horizontal_menu li a {
	color: #1A1A1A;
	text-decoration: none;
	background: #CCE6FF;
	margin: 0;
	padding: 10px 14px 10px 14px;
	border-top: 1px solid #4D4D4D;
	border-bottom: 1px solid #4D4D4D;
	border-right: 1px solid #4D4D4D;
}

ul.horizontal_menu li a:hover {
	color: #005900;
	background: radial-gradient(#FFFFFF, #CCE6FF);
}

ul.horizontal_menu li a.selected {
	color: #FFFFFF;
	background: #287BCC;
}

li.menu_item_left a {
	border-left: 1px solid #4D4D4D;
	border-radius: 6px 0px 0px 6px;
}

li.menu_item_right a {
	border-radius: 0px 6px 6px 0px;
}

/* Content */
p {
	padding:0px 10px;
}

pre {
	font-size: 11pt;
}

.shadowtext {
	text-shadow: 2px 2px 4px black;
}

div.content_body {
	max-width: 1000px;
}

div.content_body, div.content_body_table {
	position: relative;
	text-align: justify;
	margin: auto;
	padding: 0px 20px 20px 20px;
}

span.text_green {
	color: #008000;
}

span.text_red {
	color: #A52A2A;
}

/* Links */
a {
	color: #202D6B;
	text-decoration: none;
}

a:hover {
	color: #800000;
	text-decoration: underline;
}

/* Tables */
table {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
	box-shadow: 8px 8px 6px rgba(122,122,122,0.5);
	background: #FFFDF0;
   }
th {
	text-align:center;
	padding: 4px;
	border: 1px solid #4D4D4D;
}
td {
	text-align:left;
	padding: 4px;
	border: 1px solid #4D4D4D;
}
thead {
	background: #AED982;
	color: #333333;
}

tfoot {
	background: #AED982;
}
tr.highlight:hover {
	background: #FFC34B;
	color: #1A1A1A;
}
td.warning {
	background: #FF9999;
}

tr.highlight:hover td.warning {
	background: #FF8080;
}
