<html>
	<head>
		<meta name="viewport" content="width=device-width">
		<title>
			<?=$page_title?> 
		</title>
		<?php if (file_exists ("template/css/style.css")): ?>
			<link rel="stylesheet" href="template/css/style.css" />
		<?php endif; ?>
		<?php if (file_exists ("../template/css/style.css")): ?>
			<link rel="stylesheet" href="../template/css/style.css" />
		<?php endif; ?>
		
		<?php if (file_exists ("template/css/leaflet.css")): ?>
			<link rel="stylesheet" href="template/css/leaflet.css" />
		<?php endif; ?>
		
		<?php if (file_exists ("template/css/font-awesome.min.css")): ?>
			<link rel="stylesheet" href="template/css/font-awesome.min.css" />
		<?php endif; ?>
		<?php if (file_exists ("../template/css/font-awesome.min.css")): ?>
			<link rel="stylesheet" href="../template/css/font-awesome.min.css" />
		<?php endif; ?>		
	</head>
	<body>
		<div id="block">
			<div class="header">
				<h1 align="center">Общественный транспорт OSM</h1>
				<p>Маршруты автобусов, троллейбусов, маршруток, трамваев и поездов</p>
			</div>
			<div class="menu">
				<ul class="horizontal_menu">
					<?php if ($page == 'main'): ?>
						<li><a href="/" class="selected"><i class="fa fa-globe">&nbsp;</i>Карта</a></li>
					<?php else: ?>
						<li><a href="/"><i class="fa fa-globe"></i>&nbsp;Карта</a></li>
					<?php endif; ?>
					
					<?php if ($page == 'routes'): ?>
						<li><a href="/routes" class="selected"><i class="fa fa-bus"></i>&nbsp;Маршруты</a></li>
					<?php else: ?>
						<li><a href="/routes"><i class="fa fa-bus"></i>&nbsp;Маршруты</a></li>
					<?php endif; ?>
					
					<?php if ($page == 'validation'): ?>
						<li><a href="/validation" class="selected"><i class="fa fa-check-square-o">&nbsp;</i>Качество</a></li>
					<?php else: ?>
						<li><a href="/validation"><i class="fa fa-check-square-o">&nbsp;</i>Качество</a></li>
					<?php endif; ?>
					
					<?php if ($page == 'statistics'): ?>
						<li><a href="/statistics" class="selected"><i class="fa fa-bar-chart"></i>&nbsp;Статистика</a></li>
					<?php else: ?>
						<li><a href="/statistics"><i class="fa fa-bar-chart">&nbsp;</i>Статистика</a></li>
					<?php endif; ?>
					
					<?php if ($page == 'about'): ?>
						<li><a href="/about" class="selected"><i class="fa fa-info-circle"></i>&nbsp;О сайте</a></li>
					<?php else: ?>
						<li><a href="/about"><i class="fa fa-info-circle"></i>&nbsp;О сайте</a></li>
					<?php endif; ?>
				</ul>
			</div>
			<div class="body">
				<?=$output?>
			</div>
			<div class="footer">
				<p><font color=#FFFFFF class='shadowtext'>data © OpenStreetMap contributors</font></p>
			</div>
		</div>
	</body>
</html>
